.main {
    margin-top: 100px;
}
/*
when adding a class, put a ".", e.g. .main from 
div class="main", or class="logo-img" becomes .logo-img
*/
.logo-img { 
/*How to center an element:display:
    1. display: block
    2. must have a width 
    3. margin left/right: auto */
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.input-text {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}